// COLOR WHITE
$color-white-000: #ffffff;
$color-white-100: #fafbfb;
$color-white-200: #9d9d9c;
 
// COLOR ORANGE
$color-yellow-000: #fa9616;

// COLOR GREEN
$color-green-000: #40cb40;

// COLOR BLUE
$color-blue-000 : #1661a9;

// COLOR BLACK
$color-black-900: #000000;
